body {
	background: #303030;
	width: 100%;
	margin: 25px auto;
	text-align: center;
	letter-spacing: 2px;
}

h1 {color: #fff;
	margin-bottom: 20px; 
	text-shadow: 1px 1px 2px #9b0303, 0 0 25px #9b0303, 0 0 5px #9b0303;}

p {
	color: #fff; 
	font-size: 20px;
	margin-bottom: 25px;
}
 
 #d_text {text-shadow: 2px 2px 5px #eab30b}

.button {
	height: 120px;
	background-color: #eab30b;
	border: 1px solid #eab30b;
	margin-bottom: 20px;
	width:  220px;
	border-radius: 10px;
	font-size: 18px;
	letter-spacing: 2px;
}

img {height: 300px; width: 150px;}

#box3 {
	margin-top: 20px;
	border-top: 4px dotted #fff;
}

#container{width: 100%; margin: 0 auto;}

#sendMessage {border: 1px solid #eab30b; color: #303030; box-shadow: 1px 1px 5px #eab30b}

.txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
}

#box-1 {background: #3095d3; border: 1px solid #3095d3;}
#box-3 {background: #666666; border: 1px solid #666666;}
#box-4 {background: #93c748; border: 1px solid #93c748;}
#box-5 {background: #c34f4f; border: 1px solid #c34f4f;}

a {text-decoration: none;}

.card {
	margin: 10px;
	width:  230px;
	height: 130px;
	display: inline-block;
	border-radius: 10px;
}

.c-text {
	float:left;
	width:230px;
	height:142px;
}

.c-p {
	font-size: 13px;
	color: #000;
}

#card1 {background-color: #3095d3;}
#card2 {background-color: #eab30b;}
#card3 {background-color: #666666;}
#card4 {background-color: #93c748;}
#card4 {background-color: #c34f4f;}