body {
	background: #593C2C;
	width: 100%;
	margin: 25px auto;
}

h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

.button {
	height: 50px;
	background-color: #eab30b;
	border: 1px solid #eab30b;
	margin-bottom: 10px;
	width:  200px;
}

img {
	margin-top: 50px;
	height: 250px; 
	width: 350px;
}

#container{
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

#box2 {
	margin: 0 auto;
}

.box {
	margin: 0 auto;
}